body{
    background-color: whitesmoke ;
}

h1{
    color: goldenrod;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}
.error, .success{
    width: 20%;
    position:absolute;
    top: 10%;
    margin: auto;
    left:40%;
    background: white;
    border: 2px dotted red;
    border-radius: 10px;
    padding: 10px;
}



form{
   background: black;
   color: white;
   width: 30%;
   margin: auto;
   padding: 20px; 
   text-align: center;
   margin-top: 5%;
}

.form-group{
    color: white;
    width: 90%;
    padding: 10px;
    margin:auto;
}
/*form{
    margin: auto;
    border-radius: 20px;
    border: 10px groove rgb(213, 213, 230);
    padding: 10px;
    background: rgba(66, 43, 52, 0.178);
    text-align: center;
    width: 30%;
    display: block;
}
*/

input{
    border-color: gainsboro;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
    height: 15px;
}

input:hover{
    color: white;
    background: skyblue;
}

label{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    background: rgb(226, 120, 20);
    border-radius: 10px;
    border: 2px solid gainsboro;
    padding: 5px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

button:hover{
    color: gold;
    
}

p{
    color: red;
}

a{
    color: green;
}

a:hover{
    color: rgb(120, 180, 80);
}

@media screen and (max-width:768px){
.error{
    width: 50%;
    margin: auto;
}

form{
    width: 50%;
}

    }