body{
	padding:  20px;
	content: border-box;
	margin: auto;
	align-items: center;

}
.show-info > form{
	align-content: center;
	align-items: center;
	padding: 20px;
}


p{
	color: green;
	font-family: cursive;
	font-size: 15px;
	text-align: center;
}

label{
	color:  red;
}

input{
	border-radius: 20px;
	height: 10px;
	padding: 10px;
}

button{
	color: white;
	background: red;
	padding: 10px;
	border-color: red;
	font-size: 0.9em;
	font-family: verdana;
}