<!DOCTYPE html>
<html>
    <head>
        <title> Contact Page</title>
      
        
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/contact.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/womens-wear.css')}}">
    </head>
<body>
    <div class='menu-bar'> 
        <a href="/"> Back to Home</a>
        <a href="/size-guides"> Size Guide</a>
        <a href="#"> Offers & Promo</a>
        <a href="#"> Our services</a>
    </div>

<hr style='color: white'>
</hr>
<div class="header">
  
    <h1> Contact Us</h1> </br>
  <p> Dear value customer, thanks for patronizing us. You can contact us by visiting our branch at
       <span> Agodi, Gate Ibadan </span> or get in touch with us at our social media handle either <span>facebook,
           twitter or Instagram 
       </span> page by clicking on the icon below
    </p> 
   
</div>
<br>
<br>
<br>
<br>
<footer style="margin-top: 100px">
    <div class="foot-bar" >
    <div class="foot-icon">
        <a href="/www.facebook.com/kolapo.azeez.50"><div class="icon"><img src="/static/css/pictures/icons/facebook.png"></div></a>
        <a href="#"><div class="icon"><img src="/static/css/pictures/icons/instagram1.jpg"/></div></a>
        <a><div class="icon"><img src="/static/css/pictures/icons/whatsapp1.jpg"/></div></a>
        <a><div class="icon"> <img src="/static/css/pictures/icons/gmail.jpg" /></div></a>
    </div>
    </div>
    <p class="contact" style="color:black; "> contact us on: 09025272830 or 09157289262 </p>
    </footer>
    








    
</body>
     
</html>