<!DOCTYPE html>
<html>
<head>
<title>my first confirm website </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/womens-wear.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/nav.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet">
    <link rel="stylesheet" href="css/style_index.css">
<script src="mens-wear.js"></script>

</head>


<body>
 <!-- navbar -->
    <nav>
      <div class="logo">
        <h3><a href="#" class="logo-name">Alarafa Stiches</a></h3>
      </div>


	  <ul class="nav-links">
		<li><a href="/">Home</a></li>
            
		<li><a href="/packs">Branding & Packaging</a></li>
		<li><a href="/childrens">Childrens</a></li>
		<li><a href="/contact">ContactUs</a></li>
		<li><a href="/fashions">Products</a></li>  
		<li><a href="/hoodie">Hoodies</a></li>
		<li><a href="/womens-wear">Ladies</a></li>
		<li><a href="/mens-wear">Mens</a></li>
		<li><a href="/short-nickers">Short-Trousers</a></li>
		<li><a href="/sleeves">Unisex Long & Short Sleeves</a></li>        
    <li><a href="/trousers">Unisex Trousers</a></li>
            {%if current_user.is_authenticated%}
		<li><a href="/login">Sign Out</a></li>
				<li><a href="/my-items">My Items</a></li>
            {%else%}
    <li><a href="/sign-up">Create Account</a></li>
            {%endif%}
	</ul>
	
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
	
<h3 class="choice"> Branding kits </h3>
<div class="layout">
	<div class="image-container">
		<img src="/static/css/pictures/packs/pack.jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (15).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (2).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (3).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (4).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (5).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (6).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (7).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (8).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (9).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (10).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (11).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (12).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (13).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

	<div class="image-container">
		<img src="/static/css/pictures/packs/pack (14).jpg" id="AKS  Kurta with Plazzzo & Dupatta || Rs.1799" onclick="add(this.id)">
	</div>

</div>

 

</div>

<h4 class="sry-msg">Uh-Oh! We are<span class="colored-word"> done</span>🛒</h4>
        <center><hr class="last-hr-of-product"></center>
        <br><br>
	<div class="cart-details">
          <h2 class="head-of-cart">Your Cart</h2>
            <hr class="hr-of-cart-head">
            <br>
          <ul id="ul_pr">
            
          </ul>
        <button class="btn-clear-list" onclick="emptyList()"> <span class="colored-word"> Clear My List</span></button>   <button class="btn-clear-list" id="copyText" onclick="copyText()"> <span class="colored-word"> Copy Your List </span></button> 
        <br>

 {% if current_user.is_authenticated%}
<h2 class="paste">Paste Your Item In the Area Below and click submit to Save in your cart </h2>

<form method="POST">

			<textarea name="item" cols="30" rows="5" class="add-to-db" 
			placeholder="paste your favorite items here"></textarea>
				<br>
			<button type="submit" class="submit">Save</button>
			</form>


			
          <small>Can't see anything? Click & add your favorite fashion in
          <span class="colored-word"> Shopping List!</span> </small>
    </div>


{%else%}
		<h2 class="paste">Create an account to get a permanent cart storage </h2>

 {%endif%}


    	<br>

<footer>
<div class="foot-bar">
<div class="foot-icon">
	<a href="www.facebook.com/kolapo.azeez.50"><div class="icon"><img src="/static/css/pictures/icons/facebook.png"></div></a>
	<a href="#"><div class="icon"><img src="/static/css/pictures/icons/instagram1.jpg"/></div></a>
	<a href="#"><div class="icon"><img src="/static/css/pictures/icons/whatsapp1.jpg"/></div></a>
	<a href="#"><div class="icon"> <img src="/static/css/pictures/icons/gmail.jpg" /></div></a>

</div>
</div>
<p class="contact" > contact us on: 09025272830 or 09157289262 </p>
</footer>


<div class="about-center">
	<div class="info">
	<h1> how can we help </h1>
	<a href="/not-available"> help </a>
	<a href="/size-guides"> size guides </a>
	<a href="/not-available"> Discount & promo </a>
	
	</div>

	<div class="info">
	<h1> information</h1>
	 <a href='/not-available'> 2022 fashion </a>
	<a href='/not-available'> deleivery informaton </a>
	<a href='/not-available'> refer a friend </a>
	</div>

	<div class="info">
	<h1> about us & more </h1>
	<a href='/not-available'> About AF </a>
	<a href='/not-available'>Size guides </a>
	<a href='/not-available'> Discount & promo </a>
	</div>
</div>


<script src="{{url_for('static', filename='js/nav.js')}}"></script>

<script src="{{url_for('static', filename='js/womens-wear.js')}}"></script>
</body>
</html>